   <!-- Porfolio-->
   <br>
    <br>
       
       
    <div class="container">

          <br><br>

          
          <h2 class="section-title">Portfolio</h2>
          
          <div class="thumbnails recentworks row">
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" href="https://demo-back-yards-coffee.herokuapp.com/">
              <span class="img">
                <%= image_tag 'Bofyards.png' %>
                <span class="cover"><span class="more">See details &rarr;</span></span>
              </span>
              <span class="title">Back Of The Yards Coffee</span>
            </a>
            <span class="details"><a href="https://demo-back-yards-coffee.herokuapp.com/">BackEnd</a> | <a href="https://demo-back-yards-coffee.herokuapp.com/">Rails</a></span>
            
          </div>
          
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a class="thumbnail" href="https://qa-san-jose.herokuapp.com">
            <span class="img">
              <%= image_tag 'Sjm.png' %>
              <span class="cover"><span class="more">See details &rarr;</span></span>
            </span>
            <span class="title">San Jose Obrero Mission</span>
          </a>
          <span class="details"><a href="https://qa-san-jose.herokuapp.com">FrontEnd/BackEnd</a> | <a href="https://qa-san-jose.herokuapp.com">HTML, CSS, JavaScript, & Rails</a></span>
          
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a class="thumbnail">
          <span class="img">
            <%= image_tag 'catninja.PNG' %>
            <span class="cover"><span class="more">See details &rarr;</span></span>
          </span>
          <span class="title">Cat or Ninja Puzzle</span>
        </a>
        <span class="details">FrontEnd | HTML, CSS, & JavaScript</span>
      
      </div>







    
           
                
            
             
            
            <div class="container">
                        <br>
<br>
<br>


                <br><hr style=" border: 2px solid black;"><br>


<br>
<br>
<br>
<br>
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>My Resume</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                        <ul class="timeline">
                            <li class="timeline-heading text-center animate-box">
                                <div><h3>Work Experience</h3></div>
                            </li>
                            <li class="animate-box timeline-unverted">
                                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Developer Apprentice</h3>
                                        <span class="company">Difference Engine - Nov. 2017 - Current</span>
                                    </div>
                                    <div class="timeline-body">
                                    <ul>
                                    <li>Developing web technology in agile environment to further the mission of nonprofit organizations</li>
                                    <li>Working alongside Tech Lead and developer team to deliver optimum performance of clients’ websites</li>
                                    <li>Working on both front and back end of application using Ruby on Rails, React, and JavaScript</li>

                                    
                                    </ul>
                                        
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted animate-box">
                                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Developer Trainee</h3>
                                        <span class="company">Coding Dojo - June 2017 - October 2017</span>
                                    </div>
                                    <div class="timeline-body">
                                       <ul>
                                    <li>Completing several development projects, working successfully in team environment</li>
                                    <li>Gaining experience in object-oriented programming</li>
                                    <li>Developing, testing, and debugging code</li>
                                    <li>Developing in both Frontend and Backend technologies: Python, C#, and JavaScript</li>
                                    </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="animate-box timeline-unverted">
                                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Humanites Instructor</h3>
                                        <span class="company">Gary Comer Middle School - 2014 - 2017</span>
                                    </div>
                                    <div class="timeline-body">
                                        <ul>
                                    <li>Planning and executing engaging lessons</li>
                                    <li>Supporting scholars with diverse needs and learning styles</li>
                                    <li>Fostering a classroom environment conducive to learning and promoting excellent student/teacher interaction</li>
                                    <li>Providing guidance and advice to pupils on educational and social matters</li>
                                    </ul>
                                    </div>
                                </div>
                            </li>
    
                            <br>
                            <li class="timeline-heading text-center animate-box">
                                <div><h3>Education</h3></div>
                            </li>
                            <li class="timeline-inverted animate-box">
                                <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Masters in Software Engineering</h3>
                                        <span class="company">Depaul - Jan 2018 - Current</span>
                                    </div>
                                    <div class="timeline-body">
                                       
                                    </div>
                                </div>
                            </li>
                            <li class="animate-box timeline-unverted">
                                <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Certification</h3>
                                        <span class="company">Coding Dojo - June 2017- October 2017</span>
                                    </div>
                                    <div class="timeline-body">
                                       <p>HTML,CSS, JavaScript, JQuery, MySQL, Django, Python, MEAN, .NET</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted animate-box">
                                <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title">Bachelors of Science</h3>
                                        <span class="company">Old Dominion Unviersity - 2011 - 2013</span>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Sociology with Emphasis in Social Welfare</p>
                                    </div>
                                </div>
                            </li>
                            <li class="animate-box timeline-unverted">
                                <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title"></h3>
                                        <span class="company">University of Nevada Las Vegas 2008 - 2011</span>
                                    </div>
                                    <div class="timeline-body">
                                        
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <hr style="border: .5px solid black;">
        <br><br>
   <div class="Resume">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-wrap">
                            
                            <h3><span class="name-left">HTML5/CSS3</span><span class="value-right">95%</span></h3>
                            <div class="progress">
                              <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
                              aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                              </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3><span class="name-left">Python</span><span class="value-right">90%</span></h3>
                            <div class="progress">
                              <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
                              aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                              </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3><span class="name-left">.Net</span><span class="value-right">80%</span></h3>
                            <div class="progress">
                              <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
                              aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                              </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3><span class="name-left">JavaScript</span><span class="value-right">85%</span></h3>
                            <div class="progress">
                              <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
                              aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-wrap">
                            <h3><span class="name-left">Bootstrap</span><span class="value-right">100%</span></h3>
                            <div class="progress">
                              <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
                              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                              </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3><span class="name-left">Ruby</span><span class="value-right">70%</span></h3>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped active" role="progressbar"
                              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                              </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3><span class="name-left">JQuery</span><span class="value-right">85%</span></h3>
                            <div class="progress">
                              <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
                              aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                              </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3><span class="name-left">MEAN</span><span class="value-right">75%</span></h3>
                            <div class="progress">
                              <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
                              aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>

        <br>

             <hr>

             <Div class="resumeButton"><button style="Text-align:center;"> <%= link_to 'Download Scott Resume', resume_path %></button></div>

             <br>
             <br>



             <br><br>