<div class="row text-center" id="heading">
  <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
    <div id="aboutPic">
      <%= image_tag 'Site18.JPG', :class => "aboutimg" %>
    </div>
    
    <h3 style="font-size: 44px; color: #36ab9f;
    
    line-height: 50px;">About Me</h3>
    <p> "Talk is cheap. Show me the code."
- Linus Torvalds</p>
    <hr style="border-top: 2px solid goldenrod;" class="full">
    <br/>
  </div>
</div>  <!-- row -->
<div class="row about-us-text">
  <div class="col-md-8 col-md-offset-2">
    <p class="text-center">Former middle school teacher turned tech enthusiast, Scott Tillman is a Web Developer living in Chicago, IL. 
            He fell in love with Web Development after attending a Hackaton a few years ago out of curiousity.  
            Scott has a diverse background in different areas of Web Developement from backend 
            programming (Django/Python, .Net, Ruby on Rails) to frontend engineering (HTML, CSS, and jQuery/Javascript). 
            He is passionate about learning and growing in his knowledge of different technologies and is also a 
            full time Graduate Student at DePaul University studying Software Engineering. Outside of coding everyday,
            Scott loves Traveling, Mentoring, Netflix binging, people watching, exploring new resturants, working out, 
            laughing, and talking about himself in third person. </p>
    <hr style="border: .5px dashed goldenrod;">
  </div>
</div>  <!-- row -->
<br>


