<h1>new Post</h1>


<%= render 'form' %>

<div class="content">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                    <div class="post-img"><img src="images/History.jpg"  class="img-thumbnail img-responsive text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-holder">
                        <!-- post holder -->
                        
                        </div>
                        <div class="post-content">
                            <!-- post content -->
                            <div class="post-header">
                                <h1>responsive website templates free download for business</h1>
                                <div class="meta">
                                    <!-- post meta -->
                                    <span class="meta-date">Dec 24, 2020 </span>
                                    <span class="meta-comment"> <a href="#" class="meta-link">05 Comment </a></span>
                                    <span class="meta-user">by <a href="#"> Admin </a></span>
                                    <span class="meta-cat"> Category name </span>
                                </div>
                            </div>
                            <p>Responsive <a href="https://easetemplate.com/downloads/category/free-website-template/">website templates free download</a> for business intervention rabitur ante lorem ipsumporta ces convallis is physical medicine of the pain diagnosisognosis.</p>
                            <p> Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Lortiam leo lectundit etest euonsequat congue dianas sapien orciplacerat vitae nibh necpretium elem entum ligcongue neque a augue ultricieugiat lacus tincidunt. </p>
                            <p>Praesent vel aliquet urnaauris molestie sollicitudin nisl non volutpatm mollis eros lacusac lorem tristique arcu facilisis sedamus ullamcorper accumsan augue quis egestas.</p>
                            <!-- <div class="related-post-block"> -->
                                <!-- related post block -->
                                <!-- <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-sm-12">
                                        <h2 class="related-post-title">Related Post</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="related-post"> -->
                                            <!-- related post -->
                                            <!-- <div class="related-post-img">
                                                <a href="#"><img src="images/Thinking.jpg" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="related-post-content">
                                                <h3 class="related-title"><a href="#" class="title">Free Hair Salon Website Templates Download</a></h3>
                                                <div class="post-meta"><span class="meta-cat">in <a href="#" class="">"Free Website Template"</a> </span></div>
                                            </div>
                                        </div> -->
                                        <!-- /.related post -->
                                    <!-- </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="related-post"> -->
                                            <!-- related post -->
                                            <!-- <div class="related-post-img">
                                                <a href="#"><img src="images/black.jpg" alt="" class="img-responsive"></a>
                                            </div>
                                            <div class="related-post-content">
                                                <h3 class="related-title"><a href="#" class="title">HTML5 Website Design Template</a></h3>
                                                <div class="post-meta"><span class="meta-cat">in <a href="#" class="">"Free Bootstrap Website Template"</a> </span></div>
                                            </div>
                                        </div> -->
                                        <!-- /.related post -->
                                    <!-- </div>
                                </div>
                            </div> -->
                            <!-- /.related post block -->
                            <div class="post-navigation">
                                <!-- post navigation -->
                                <div class="row">
                                    <div class="nav-links">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="nav-previous">
                                                <!-- nav previous -->
                                                <a href="#" class="prev-link">previous post</a>
                                                <div class="prev-post">
                                                    <h3><a href="#" class="title">Praesent Nonaugue Lacuisque Nemetu</a></h3>
                                                </div>
                                            </div>
                                            <!-- /. nav previous -->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="nav-next text-right">
                                                <!-- nav next -->
                                                <a href="#" class="next-link">next post</a>
                                                <div class="next-post">
                                                    <h3><a href="#" class="title">Maecenas Finibus Ultrices Sleger</a></h3>
                                                </div>
                                            </div>
                                            <!-- /.nav previous -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /. post navigation -->
                            <div class="author-post">
                                <!-- Post author -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="author-img">
                                            <a href="#"><img src="images/model.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="author-bio">
                                            <div class="author-header">
                                                <h3><a href="about.html" class="title">Scott Tillman</a></h3>
                                            </div>
                                            <div class="author-content">
                                                <p>Etiam laoreet sitamet purus sed vestibulu ullam cursus lacus eget pharetra accumsan ante metus tinante in ones leousce in consectetur lacus non efficiturex.</p>
                                                <a href="blog-default.html" class="btn btn-default">View All My Post</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.post author -->
                            <div class="comments-area">
                                <h2 class="comments-title">0 Comments</h2>
                                <!-- <ul class="comment-list">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="comment-author"><img src="images/user-pic-1.jpg" alt="" class="img-circle"> </div>
                                            <div class="comment-info">
                                                <div class="comment-header">
                                                    <div class="comment-meta"><span class="comment-meta-date pull-right">25 February, 2020 </span></div>
                                                    <h4 class="user-title">Willy Smith</h4>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Laoreet sitamet purus sed vestibulu ullam cursus, lacus eget pharetra accumsan ante metus psumet efficitur elit.</p>
                                                </div>
                                                <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                            </div>
                                        </div>
                                        <ul class="childern">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <div class="">
                                                        <div class="comment-author"><img src="images/user-pic-2.jpg" alt="" class="img-circle"> </div>
                                                        <div class="comment-info">
                                                            <div class="comment-header">
                                                                <div class="comment-meta"><span class="comment-meta-date pull-right">25 February, 2020 </span></div>
                                                                <h4 class="user-title">Cryst Jones</h4>
                                                            </div>
                                                            <div class="comment-content">
                                                                <p>Getub reet sitamet purus sed vestibulu ullam cursus, lacus eget pharetra accumsan anteme psumet.</p>
                                                            </div>
                                                            <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul> -->
                                <!-- <ul class="comment-list">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="">
                                                <div class="comment-author"><img src="images/user-pic-3.jpg" alt="" class="img-circle"> </div>
                                                <div class="comment-info">
                                                    <div class="comment-header">
                                                        <div class="comment-meta"><span class="comment-meta-date pull-right">24 February, 2020 </span></div>
                                                        <h4 class="user-title">Rosario Scott</h4>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Laoreet sitamet purus sed vestibulu ullam cursus, lacus eget pharetra accumsan ante metus psumet efficitur elit.</p>
                                                    </div>
                                                    <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="comment-list">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="">
                                                <div class="comment-author"><img src="images/user-pic-4.jpg" alt="" class="img-circle"> </div>
                                                <div class="comment-info">
                                                    <div class="comment-header">
                                                        <div class="comment-meta"><span class="comment-meta-date pull-right">24 February, 2020 </span></div>
                                                        <h4 class="user-title mb10">Susan White</h4>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Sed mattis sem leoat sollicitudin nulla egestas acstibulum ante ipsum primis in faucibus orci luctus.</p>
                                                    </div>
                                                    <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="leave-comments">
                            <h2 class="reply-title">Leave a Reply</h2>
                            <form class="reply-form">
                                <div class="row">
                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="textarea">Comments</label>
                                            <textarea class="form-control" id="textarea" name="textarea" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="control-label" for="name">Name</label>
                                            <span class="required">*</span>
                                            <input id="name" name="name" type="text" class="form-control" required="">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="email">E-mail</label>
                                            <span class="required">*</span>
                                            <input id="email" name="email" type="email" class="form-control" required="">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <!-- <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="Website">Website</label>
                                            <span class="required">*</span>
                                            <input id="Website" name="Website" type="text" class="form-control" required="">
                                        </div>
                                    </div> -->
                                    <div class="col-md-12">
                                        <!-- Button -->
                                        <div class="form-group">
                                            <button id="singlebutton" name="singlebutton" class="btn btn-default">Leave A Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            
            <!-- /.widget search -->
           
            <!-- widget start -->
            <div class="widget widget-recent-post">
                <!-- widget recent post -->
                <h3 class="widget-title"> Recent Post </h3>
                <ul class="listnone widget-recent-post">
                    <li>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                
                                    <!-- <a href="#"><img src="images/Thinking.jpg" alt=""></a> -->
                                
                                <div class="author-img">
                                        <a href="#"><img src="images/history.jpg" class="img-responsive" alt=""></a>
                                    </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="recent-post-content">
                                    <h4 class="recent-title"><a href="#" class="title">bootstrap responsive design templates free download</a></h4>
                                    <div class="meta"><span class="meta-date">22 Jan, 2020</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="author-img">
                                            <a href="#"><img src="images/Thinking.jpg" class="img-responsive" alt=""></a>
                                        </div>
                            </div>
                             <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="recent-post-content">
                                    <h4 class="recent-title"><a href="#" class="title">Free Responsive HTML5 CSS3 Website Templates</a></h4>
                                    <div class="meta"><span class="meta-date">22 Jan, 2020</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="author-img">
                                            <a href="#"><img src="images/RealWelcome.jpg" class="img-responsive" alt=""></a>
                                        </div>
                            </div>
                             <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="recent-post-content">
                                    <h4 class="recent-title"><a href="#" class="title">website design templates free download</a></h4>
                                    <div class="meta"><span class="meta-date">22 Jan, 2020</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <!-- /.widget recent post -->
            <div class="widget widget-archives">
                <!-- widget archives -->
                <h3 class="widget-title"> Archives </h3>
                <ul class="listnone">
                    <li><a href="#">January 2018</a></li>
                    <li><a href="#">Febuary 2018</a></li>
                    <li><a href="#">March 2018</a></li>
                    <li><a href="#">April 2018</a></li>
                    <li><a href="#">May 2018</a></li>
                    <li><a href="#">June 2018</a></li>
                </ul>
            </div>

            <div class="widget widget-categories">
                    <!-- widget categories -->
                    <!-- widget start -->
                    <h3 class="widget-title"> Categories </h3>
                    <ul class="listnone">
                        <li><a href="https://easetemplate.com/downloads/category/free-website-template/">Free Website Template</a></li>
                        <li><a href="https://easetemplate.com/downloads/beauty-salon-websites-templates-free-download/">Beauty Website Template</a></li>
                        <li><a href="https://easetemplate.com/downloads/fitness-gym-website-template-free-download/">Fitness Website Template</a></li>
                        <li><a href="https://easetemplate.com/downloads/yoga-studio-yoga-website-template-free/">Yoga Website Template</a></li>
                    </ul>
                </div>
                <!-- /.widget categories -->
            <!-- /.widget archives -->
            <!-- <div class="widget widget-tags"> -->
                <!-- widget tags -->
                <!-- <h2 class="widget-title"> Tags </h2>
                <a href="#">HTML5</a>
                <a href="#">Bootstrap</a>
                <a href="#">Website Design</a>
                <a href="#">Free Website Design</a>
                <a href="#">HTML5 Templates</a>
                <a href="#">Free Website Templates</a>
            </div> -->
            <!-- /.widget tags -->
        </div>
    </div>
</div>
</div>