<section class"" id="centered"></section>
            
                <div class="row text-center" id="heading">
                    <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
                    <div id="aboutPic">
                    <%= image_tag 'model.jpg', :class => "aboutimg" %>
                    </div>
                           
                        <h3 style="font-size: 44px; color: #36ab9f;
                        
line-height: 50px;">About Me</h3>
                        <p> "Nothing Will Work Unless You Do" - Maya Angelou</p>
                        <hr style="border-top: 2px solid goldenrod;" class="full">
                        <br/>
                    </div>
                </div>	<!-- row -->
                <div class="row about-us-text">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="text-center">I dedicate this personal site to the Black Tech ecosystem, the 6%, and other underespresented groups in Technlogy. I also dedicate this space to the future of Technology. May it be a space that serves and is inclusive of all people. As I was navigigating my career transition from teaching to technology, I searched for narratives similar to mind to help walk me through this space. As I searched I found a pleathra of Blogs and Youtube videos of individuals who had decided to transition into Web Development. I am thankful what all that I found. I hope this can be another space full of resources for individuals like myself who aspire to transition. I did not find as many blogs and youtube videos from persons who look like me. I think it is really important to see others who look like you doing what you inspire to do to remind you of the possibility or to cheer you on. This ideal stems from my years of teaching and asking my students what they wanted to do. In all of my four years of teaching I only heard one of my students mention Web Development. With that said, I dedicat this space to my students who have been with me in spirit as I am making this transition. I hope to one day bridge the gap between my years in the classroom and my passion of coding. I also hope this can be one additional online space for those who indentify as Technically...Black.  </p>
                        <hr style="border: .5px dashed goldenrod;">
                    </div>
                </div>	<!-- row -->
              
                <br>


                